MF_RUNTIME=dev
MF_ACR_REGISTRY=registry.cn-shanghai.aliyuncs.com
MF_ACR_NAMESPACE=chenyongwei
MF_IMAGE_TAG=main
MF_PORT_DRIVE_API=31110
MF_PORT_DRIVE_WEB=31111

DRIVE_DB_HOST=host.docker.internal
DRIVE_DB_PORT=3306
DRIVE_DB_NAME=drive_db
DRIVE_DB_USER=drive_user
DRIVE_DB_PASSWORD=drive_password
DRIVE_MINIO_ENDPOINT=http://host.docker.internal:9000
DRIVE_MINIO_BUCKET=drive-live
DRIVE_MINIO_ACCESS_KEY=minioadmin
DRIVE_MINIO_SECRET_KEY=minioadmin
FOUNDATION_IAM_URL=http://host.docker.internal:31121
